.page-header {
	text-align: center;
}
.logo {
	float: left;
}

.navbar {
	background-color: #181717;
	border: 0;
	clear: both;
}

#navbar-links {
	float: right;
	margin-top: 2.5%;
}

#navbar-links a {
	padding: 0 10px;
}

#navbar-links button {
	color: #181717;
	font-size: 125%;
	text-decoration: none;
}

.navbar-btn {
	background-color: #CEA766;
}

.navbar-toggle {
	background-color: #CEA766;
}

footer {
	background-color: #181717;
}

h1 {
	color: #CEA766;
	text-align: center;
}

.panelMargin {
	margin-top: 2.5%;
	margin-bottom: 20%;
}